.table {
    width: 100%;
}

.table thead td {
    text-align: center; 
    vertical-align: middle; 
    font-weight: bold;
    padding: 10px;
}

.table tbody td {
    text-align: center; 
    vertical-align: middle; 
    padding: 10px;
}

.table tbody td img {
    display: block;
    margin: 0 auto;
    max-width: 50px; 
    height: auto;
}

.table tbody td button {
    display: inline-block;
    margin: 0 auto;
}

@media only screen and (max-width: 576px   ) {
    .table thead  {
        font-size: 0.9rem; 
    }
    .table tbody  {
        font-size: 0.7rem; 
    }
    .table tbody td button {
        font-size: 0.7rem; 
    }
}
@media only screen and (max-width: 578px   ) {
    .table thead  {
        font-size: 0.7rem; 
    }
    .table tbody  {
        font-size: 0.5rem; 
    }
    .table tbody td button {
        font-size: 0.5rem; 
    }
}
